
div {
    direction: rtl;
}

.background-color{
    background-color: #eee;
}

.color-principal{
    color: #0099AA;
}
.second-color{
    color: #004045;
}

.image-user{
    height: 50%;
    border-radius: 0.25rem;
    height: 125px;
    width: 125px;
}
.badge-color{
    color: #eee;
    background-color: #0099AA;
}
.padding{
    padding: 5px;
}
.small-image-user{
    height:33.36px;
    width: 33.36px;
    border-radius: 50%;
}
.font-size-badge{
    font-size: 20px
}
.question-text{
    color: #004045;
    font-size: 25px;

}
.button-more{
    background-color: #eee;
    color: #004045;
}
.button-more:hover{
    color: #eee; 
    background-color:#0099AA;
}
.button-new{
    background-color: #eee;
    color: #004045;
}
.button-new:hover{
    color: #eee; 
    background-color:#0099AA;
}
.button-article-background-color{
    color: #eee; 
    background-color:#0099AA;
}
.padding{
    padding:10px;
}
.link:hover{
    color: #0099AA
}